* {
	margin: 0;
	padding: 0;
}

title a {
	color: white;
}

header {
	background: #353535;
	margin: 0;
	padding: 10 10px;
	text-align: center;
	font-size: 20px;
}

header a {
	color: #e2e2e2;
	text-decoration: none;
}

header a:hover {
	color: yellow;
}

header nav ul li {
	display: inline-block;
	margin: 0 20px;
	padding: 10px;
}

html, body {
	height: 100%;
}

body {
	background: black;
	font-family: 'Russo One', sans-serif;
}

nav {
	font-family: 'Rubik Mono One', sans-serif;
}

h1 {
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

article {
	color: white;
	background: #353535;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	box-sizing: border-box;
}

article p {
	margin-bottom: 10px;
	font-size: 20px;
}

main {
	padding: 20px 0 0 0;
}

main:after {
	content: '';
	clear: both;
	display: block;
}

footer {
	color: grey;
	text-align: center;
	position: absolute;
	bottom: 0;
	background: #353535;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

footer a {
	color: grey;
	text-decoration: none;
}

main .left-block {
	float: left;
	width: 25%;
	height: 75%;
	color: #353535;
	box-sizing: border-box;
}

main .left-block em {
	padding-left: 5;
	font-size: 14px;
}

main .right-block {
	float: left;
	width: 70%;
	height: 75%;
	padding-right: 60px;
	box-sizing: border-box;
}

main .left-block img{
	max-width: 100%;
	max-height: 100%;
}

#container {
	min-width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

#container span {
	color: grey;
}

.form .form-row {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 18px;
	display: inline-block;
}

.form input {
	padding: 8px;
	font-size: 18px;
}

.form label {
	margin-right: 20px;
}

.form button {
	width: 80px;
	height: 40px;
	margin-left: 20px;
	font-size: 16px;
	font-style: bold;
}